@using BugTracker.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
<ul class="navbar-nav ms-auto">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item"> 
            <a class="nav-link text-dark" asp-contorller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-contorller="Login" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-contorller="Register" asp-action="Register">Register</a>
        </li>
    
    }
</ul>